[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pillow = "*"
qiniu = "*"
flask-sqlalchemy = "*"
pymysql = "*"
numpy = "*"
imageio = "*"
tensorflow = "*"
gunicorn = "*"
requests = "*"
scipy = "==1.1.0"
psutil = "*"
baidu-aip = "*"
flask-mail = "*"
flask-script = "*"
flask-cors = "*"


[requires]
python_version = "3.6"
